<div id="container">
    <div id="inner_header">
        <div id="logo"><a href="index.html"><img src="images/logo/logo.png" /></a></div>
        <div id="menu" onclick="dropdown()">
            <menu>
                <ul>
                    <li id="home_menu"><a href="#">Home</a></li>
                    <li id="solutions_menu"><a href="#">Solutions</a></li>
                    <li id="clients_menu"><a href="#">Our clients</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Insights</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
                <div id="dropdown">
                    <div id="home_menu">
                    </div>
                    <div id="solutions_menu">
                    </div>
                </div>
            </menu>
        </div>
    </div>
</div>

<div id="main_content">
    <div id="image_slider">
    </div>

    <div id="content_1">
        <header><h1>Growing Your Business With Zero Restraints </h1></header>

        <div id="displaySummary">
            <span class="miniBox"></span>
            <span class="miniBox"></span>
            <span class="miniBox"></span>
        </div>
    </div>

    <div id="content_2">

    </div>
</div>

<footer>
    <div id="footer">
        <h1>Footer..</h1>
    </div>
</footer>
