<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <script src="/Scripts/angular/Main.js"></script>
    
</head>
<body ng-app="App">

    <div ng-controller="Login">
        <form name="loginForm" ng-submit="submit(loginForm.$valid)">
            <div>
                <span> Username</span> <input ng-model="username.value"  ng-pattern="username.regex" required/>
                {{username.value? 'PASS' : 'FAILED'}}
            </div>
            <div>
                <span> Password</span> <input ng-model="password" type="password" required />
            </div>  
            <div>
                <button ng-submit="submit">login</button>
            </div>
        </form>
    </div>

</body>
</html>
